@use '../../scss/index.scss' as *;

.app__wrapper {
  width: 680px;
}

.app__voting {
  width: 100%;

  padding: 1rem;

  background: #ffffff;
  border-radius: 10px;

  position: relative;
}

.app__voting-navigate {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.app__voting-navigate-arrow {
  @include backArrow();
}

.app__voting-navigate-title {
  @include sectionTitle();
}

.app__voting-image-box {
  position: relative;
}

.app__voting-image-box-actions {
  display: flex;
  gap: 5px;

  background: #ffffff;
  border-radius: 20px;

  position: absolute;
  left: 50%;
  bottom: -40px;

  transform: translate(-50%, 0);

  padding: 5px;
}

.image-action {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 300ms ease;

  .action-icon {
    width: 30px;
    height: 30px;

    color: #FFFFFF;
  }

  &.like {
    background: #97eab9;
    border-radius: 20px 0 0 20px;
  }

  &.fav {
    background: #ff868e;
  }

  &.dislike {
    background: #ffd280;
    border-radius: 0 20px 20px 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

.app__voting-log {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.log-message {
  background: #f8f8f7;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}

.log-message-date {
  font-weight: 500;

  background: #FFFFFF;
  border-radius: 5px;

  padding: 5px 10px;
}

.message-icon {
  width: 25px;
  height: 25px;

  &.like {
    color: #97EAB9;
  }

  &.dislike {
    color: #FFD280;
  }

  &.fav {
    color: #FF868E;
  }
}