.app__home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 775px;
  height: 720px;

  border-radius: 10px;

  position: relative;
  overflow: hidden;
}

.app__home-image-background {
  width: 640px;
  height: 680px;

  background: #fbe0dc;
  border-radius: 20px;

  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0);
}

.app__home-image {
  position: absolute;
  left: 0;
  top: -10%;
  
  img {
    width: 100%;
    height: auto;

    object-fit: cover;
  }
}
